.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    margin-top: 15px;
}

.card .card-header {
    padding: 15px;
    position: relative;
    border-radius: 3px 3px 0 0;
    z-index: 3;
}

.card .card-title {
    margin: 0;
    color: #252422;
    font-weight: 600;
    font-size: 17px;
}

.card .category {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.card .card-content {
    padding: 15px 15px 10px 15px;
}
